.cover-container .DevOps, figure img{
    width: 40%;
}

main{
    text-align: center;
}

main h3.title{
    font-size: 1.2em;
}

@media screen and (min-width: 992px) {
    .cover-container, .DevOps {
        width: 40%;
    }

    .cover-container,.DevOps{
        display: inline-block;
    }

    main .text-azure p{
        width: 50%;
        margin: auto;
        margin-bottom: 25px;
        text-align: center;
    }
}